{%load staticfiles%}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 	'css/bootstrap.min.css' %}" >



<!-- Optional theme -->
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel = "stylesheet" href="{% static 'css/justified-nav.css'%}">
<link rel = "stylesheet" href="{% static 'css/custom.css'%}">



<!-- Latest compiled and minified CSS -->


<!-- Latest compiled and minified JavaScript -->






