{% extends "base.html" %}
{% include staticfiles %}
{% block content %}
<div class="blur_back" style="padding:20px">
	<div>
		<div class="row">
			<div class="col-md-6 hit-prof prof-odd"><div style="margin:auto;">Name</div></div>
			<div class="col-md-6 hit-prof prof-odd"><div style="margin:auto;">Name</div></div>
		</div> 
		<div class="row"> 
			<div class="col-md-6 hit-prof prof-even"><div style="margin:auto;"></div></div>
			<div class="col-md-6 hit-prof prof-even"><div style="margin:auto;"></div></div>	
		</div> 
		<div class="row">
			<div class="col-md-6 hit-prof prof-odd"><div style="margin:auto;">Order Id</div></div>
			<div class="col-md-6 hit-prof prof-odd"><div style="margin:auto;">Name</div></div>
		</div> 
		<div class="row"> 
			<div class="col-md-6 hit-prof prof-even"><div style="margin:auto;"></div></div>
			<div class="col-md-6 hit-prof prof-even"><div style="margin:auto;"></div></div>	
		</div> 
		<div class="row">
			<div class="col-md-6 hit-prof prof-odd"><div style="margin:auto;">Order Id</div></div>
			<div class="col-md-6 hit-prof prof-odd"><div style="margin:auto;">Name</div></div>
		</div> 
		<div class="row"> 
			<div class="col-md-6 hit-prof prof-even"><div style="margin:auto;"></div></div>
			<div class="col-md-6 hit-prof prof-even"><div style="margin:auto;"></div></div>	
		</div> 
	</div>
</div>
{% endblock content %}
