{% extends "base2.html" %}
{% load staticfiles%}
{% block  landing%}
 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Sightnext</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="{% url 'home2' %}">Explore</a></li>
                  <li><a href="{% url 'login' %}">LogIn</a></li>
                  <li><a href="{% url 'signup' %}">Subscribe</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">IT'S YOUR TIME</h1>
            <p class="lead">The whole new world of encapsulated news and information, covering all sort of print media, is now just a click away to reach your doorsteps. Explore now. Its free for a month!!   </p>
            <p class="lead">
              <a href="{% url 'home2'%}" class="btn btn-lg btn-default">Explore Now</a>
            </p>
          </div>


          <div class="mastfoot">
            <div class="inner">
              <p>Designed &amp Developed by <a href="http://sightnext.com">Sightnext Pvt. Ltd. </a></p>
            </div>
          </div>

        </div>

      </div>

    </div>
{% endblock landing %}